In [3]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [4]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [7]:
angka = 11
if(angka%2 == 0):
    print('bilangan genap')
else:
    print('bilangan ganjil')

bilangan ganjil

In [8]:
mystring = "hello"
myfloat = 10.0
myint = 20

if mystring == "hello"
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat =10.0:
    print("float")

SyntaxError: invalid syntax (<ipython-input-8-69a5cc551396>, line 5)

SyntaxError: invalid character in identifier (<ipython-input-16-a39163c285ce>, line 1)

In [27]:
a = 200
b = 33
c = 50
if a > b and c > b:
    print("Both conditions are true")

Both conditions are true

In [48]:
i = 0
while i < 6:
 i += 1
 if i == 3:
   continue
 print(i)

1
2
4
5
6

In [49]:
  numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601,
            485, 980, 507, 725, 547, 544, 615, 83, 165,
            141, 501, 263, 617, 865, 575, 219, 390, 984,
            592, 236, 105, 942, 941, 386, 462, 47, 418,
            907, 344, 236, 375, 823, 566, 597, 978, 328,
            615, 953, 345, 399, 162, 758, 219, 918, 237,
            412, 566, 826, 248, 866, 950, 626, 949]
for i in numbers[:-9]:
    if i % 2 == 0:
        print(i)
    else:
        continue
print("Done")

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
Done

In [61]:
list = [1,2,3,4]
for i, val in enumerate(list):
 print(i,",",val)

0 , 1
1 , 2
2 , 3
3 , 4

In [66]:
list1 = [ 1,2,3,4,5,6 ]
 print(list1.pop())
 print("New list after pop :",list1"\n")
while list1:
 print("list1.pop"(-1))
print("nilai setelah di while loop dengan pop: \n",list1)

IndentationError: unexpected indent (<ipython-input-66-bc77ac0e6c59>, line 2)

In [67]:
def nama_fungsi():
    print "Hello ini Fungsi"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello ini Fungsi")? (<ipython-input-67-2be50dd7c7f8>, line 2)

In [85]:
def my_function(* nama):
 print("Teman saya adalah " + nama[0])

my_function("Email", "bego", "load")

Teman saya adalah Email

In [87]:
def convert(fahr,kelv):
    cels = fahr * 1.8 + 32.0
    cels2 = kelv -273,15
    return cels, cels2
print("Temperature in Kelvin (K)=",convert(32,20))

Temperature in Kelvin (K)= (89.6, (-253, 15))

In [100]:
def temp_converter(ftemp):
    ctemp = (ftemp - 32) * (5/9)
    ktemp = ctemp + 275.15
    return [ftemp,ktemp,ctemp]
print(temp_converter(72))

[72, 297.3722222222222, 22.22222222222222]

In [102]:
def inch_to_cent(inches):
    cent = inches * 2.54
    return cent
print(inch_to_cent(10))

In [107]:
def sum(numbers):
    total = 0
    for x in numbers:
        total +=x
    return total
print(sum((8,2,3,0,7)))

20

In [106]:
print(sum((8,2,3,0,7)))

20

In [135]:
def test_range(n):
    if n in range(3,9):
        print("%s is in the range"%str(n))
    else:
        print("The number is outside the given range.")
test_range(5)

5 is in the range

In [132]:
def printValues():
    l = []
    for i in range(1,21):
        l.append(i**2)
    print(l)

printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]